{% extends "base.html" %}

{% block content_logged %}
    <div class="row d-flex justify-content-end">
    	<div class="col-6">
			<div class="input-group mt-5">
				<input type="search" placeholder="Search a feature..." aria-describedby="button-addon5" class="form-control searchbar">
				<div class="input-group-append">
					<button id="button-addon5" type="submit" class="btn"><i class="fas fa-search"></i></button>
				</div>
			</div>
    	</div>
    </div>
    <div class="row mt-5">
    	<div class="col-12 ml-2">
    		<span class="title-card">Overview:</span>
    	</div>
    </div>
    <div class="row mt-3" style="height: 200px">
		<div class="col-4 h-100 mb-2 d-flex justify-content-center">
			<div style="background-color: #b5b5b5; width: 100%;">
			</div>
		</div>
		<div class="col-4 h-100 mb-2 d-flex justify-content-center">
			<div style="background-color: #b5b5b5; width: 100%;">
			</div>
		</div>
		<div class="col-4 h-100 mb-2 d-flex justify-content-center">
			<div style="background-color: #b5b5b5; width: 100%;">
			</div>
		</div>
    </div>
{% endblock %}