{% extends "base.html" %}

{% block content_logged %}

        <!-- bar chart canvas element -->
        {% if sensor_number != None %}
        <div class="container rounded" style="background-color: #FFFFFF; ">
                <span class="border border-primary"></span>
                <canvas id="myChart" width="600" height="400"></canvas>
        </div>
        <br>
        {% endif %}

        <div class="list-group">
        {% for sensor in sensors %}
                {% if sensor_number == sensor.id %}
                        <a class="list-group-item list-group-item-action active" href="{{ url_for('features.temperature', sensor=sensor.id) }}">{{ sensor.id }}:{{ sensor.name }}</a>
                {% else %}
                        <a class="list-group-item list-group-item-action" href="{{ url_for('features.temperature', sensor=sensor.id) }}">{{ sensor.id }}:{{ sensor.name }}</a>
                {% endif %}
        {% endfor %}
        </div>

        <script type="text/javascript">
                temperature = {{ temperature | tojson }};
                timestamps = {{ timestamps | tojson }};
        </script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/temperature_chart.js') }}"></script>
{% endblock %}