<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        {% if title %}
            <title> {{ title }} </title>
        {% else %}
            <title> SusHouse Default Title </title>
        {% endif %}
    </head>
    <body style="background-color: #F9690E;">
        <div class="docs-header" style="background-color: #FFFFFF">
            <!-- nav -->
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('auth.index') }}">
                        <img src="{{ url_for('static', filename='img/logo.jpg') }}" height="20">
                    </a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#menu-navbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <button type="button" class="btn btn-link d-lg-inline-block mb-3 mb-md-0 ml-md-3">
                        {% if current_user.is_anonymous %}
                            <a href="{{ url_for('auth.login') }}">Login</a>
                        {% else %}
                            <a href="{{ url_for('auth.logout') }}">Logout</a>
                        {% endif %}
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="menu-navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.index') }}">Index</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('dummy_feature.dummy_page') }}">Dummy Page</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('features.temperature') }}">Temperature</a></li>
                    </ul>
                </div>

            </nav>
        </div>

        <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <h1>WIP Of the Sustainable Smart House Application</h1>
        {% block content %} {% endblock %}
        </div>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>