<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% if title %}
            <title> {{ title }} </title>
        {% else %}
            <title> SusHouse Default Title </title>
        {% endif %}
    </head>
    <body>
        <div>
            SusHouse summary:
            <a href="{{ url_for('auth.index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('auth.login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <h1>WIP Of the Sustainable Smart House Application</h1>
        {% block content %} {% endblock %}
    </body>
</html>